.container{
    border: 10px solid red;
    width: 100%;
    height: 100%;
}

.title-container img{
    width: 99%;
    height: 97%;
    padding: 2px;
}

.title-container .top-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 500px;
}
.title-container .top-section h1{
    color: white;
    font-size: 2.2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
}

.title-container .top-section p a{
    color: black;
    background: white;
    padding: 6px;
    margin: 10px;
    width: 80px;
    text-decoration: none;
}

.artists-container{
    .flex-layout(center, center);
    width: 99%;

    img{
        width: 50;
        height: 100%;
        padding: 10px;
        margin: 10px;
    } 
    a{
       text-decoration: none;
       font-size: 1.8rem;
       color: black;
       display: flex;
       justify-content: center;
    }
    .bio{
       font-size: 1.0rem;
       padding: 10px;
       margin: 10px;
       width: 100%;
       height: 100%;
       .flex-layout(center, center);
       flex-wrap: wrap;
    }

    }
     